<div class="flex justify-center">
    <div class="block  rounded-lg shadow-lg bg-white max-w-sm">

        <img class="rounded-t-lg" src={{data.image}} alt=""/>
        <div class="p-6">
            <h5 class="text-gray-900 text-xl leading-tight font-medium mb-2">{{data.title}}</h5>
            <p class="text-gray-700 text-base mb-4">
                {{data.description}}
            </p>
            <a type="button" href="/blog/{{data.id}}"
               class=" inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
                Read the article.
            </a>
        </div>
    </div>
</div>