<!--create a contact footer -->
<footer class="border-t border-gray-200">
    <div class="container flex flex-wrap items-center justify-center px-4 py-8 mx-auto  lg:justify-between">
        <div class="flex flex-wrap justify-center">
            <ul class="flex items-center space-x-4">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="flex justify-center mt-4 md:gap-6 gap-3 flex-wrap lg:mt-0">
            <a href="https://github.com/Renaud-Dov">
                <i class="fa-brands fa-github text-blue-600 fa-xl"></i>
            </a>
            <a href="https://twitter.com/dov_chavers">
                <i class="fa-brands fa-twitter text-blue-600 fa-xl"></i>
            </a>
            <a href="https://www.linkedin.com/in/renaud-dov-devers/">
                <i class="fa-brands fa-linkedin text-blue-600 fa-xl"></i>
            </a>
            <a href="mailto:contact@bugbear.fr">
                <i class="fa-solid fa-envelope text-blue-600 fa-xl"></i>
            </a>
        </div>
    </div>
</footer>