<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--    <link href="../css/style.css" rel="stylesheet">-->
    <script src="../tailwind.js"></script>
    <script src="https://kit.fontawesome.com/10df1fa288.js" crossorigin="anonymous"></script>
</head>
{{#unless FULLSCREEN}}
    <header>
        {{> Myheader}}
    </header>
{{/unless}}
<body>
{{{body}}}
<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
</body>
{{#unless FULLSCREEN}}
    <footer>
        {{> Myfooter}}
    </footer>
{{/unless}}
</html>